.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env             
.env.*
*.log
.DS_Store
.idea/
.vscode/        

airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py


dbt/target/
dbt/logs/
dbt/dbt_packages/